.navbar {
    background-color: #0073B7;
}

.nav-list-item-settings {
    color: white;
    padding: 10px;
    font-size: 16px;
}

#last_nav_link {
    margin-right: 45px;
}

nav > a {
    color: white;
    margin-right: 10px;
}